<img style="width: 100%; border-bottom-left-radius: 4%; border-bottom-right-radius: 4%;" src="../assets/images/0.jpg">
  <!-- SEARCH -->
  <div style="background-color: #E7E6E4; border-radius: 20px; padding: 2% 5% 2% 5%; box-shadow: 5px 7px 5px -1px #6d5f69;">
  <input placeholder="Busca una receta"
    class="input"
    id="search"
    type="search"
    required
    [(ngModel)]="searchValue"
    (ngModelChange)="searchRecipes()" style="border: none; background: transparent; width: 100%; font-size: 18px;">
  </div>
  <div style="display: flex; flex-wrap: wrap; width: 100%; justify-content: center;">
    <div (click)="filter('Cena')" class="btn btn-primary" style="flex-direction: column; display: flex; text-align: center; font-style: 18px; background-color: white; color: #6d5f69; border-color: transparent; margin: 1em; height: 60px; width: 122px; ">
      <img style="height: 30px;
    margin: auto;
    width: fit-content;" src="../assets/images/dinner.png">
    Cenas
    </div>
    <div (click)="filter('Comida')" class="btn btn-primary" style="flex-direction: column; display: flex; text-align: center; font-style: 18px; background-color: white; color: #6d5f69; border-color: transparent; margin: 1em; height: 60px; width: 122px;">
      <img style="height: 30px;
    margin: auto;
    width: fit-content;" src="../assets/images/meal.png">
    Comidas
    </div>
    <div (click)="filter('Postre')" class="btn btn-primary" style="flex-direction: column; display: flex; text-align: center; font-style: 18px; background-color: white; color: #6d5f69; border-color: transparent; margin: 1em; height: 60px; width: 122px;">
      <img style="height: 30px;
    margin: auto;
    width: fit-content;" src="../assets/images/sugar.png">
    Postres
    </div>
    <div (click)="filter('Ensalada')" class="btn btn-primary" style="flex-direction: column; display: flex; text-align: center; font-style: 18px; background-color: white; color: #6d5f69; border-color: transparent; margin: 1em; height: 60px; width: 122px;">
      <img style="height: 30px;
    margin: auto;
    width: fit-content;" src="../assets/images/salad.png">
    Ensaladas
    </div>
    <div (click)="filter('Snack')" class="btn btn-primary" style="flex-direction: column; display: flex; text-align: center; font-style: 18px; background-color: white; color: #6d5f69; border-color: transparent; margin: 1em; height: 60px; width: 122px;">
      <img style="height: 30px;
    margin: auto;
    width: fit-content;" src="../assets/images/appetizers.png">
    Acompañamiento
    </div>
</div>

  <div style=" padding-left: 10%; padding-right: 10%;">

  <!-- NAV -->


<div *ngFor="let recipe of recipes">

  <div style="background-color: rgb(255, 255, 255); border-radius: 4%; margin-bottom: 5%; box-shadow: 5px 7px 5px -1px #6d5f69;">
    <a class="card-detail" [routerLink]="['/recipe', recipe.id ]" (click)="updateSelectedRecipe(recipe)">
      <div style="padding: 3%">
        <h3>{{recipe.name}}</h3>
      <p style="font-size: 18px;">{{recipe.description}}</p>
      </div>
        <img style="width: 100%; border-bottom-left-radius: 4%; border-bottom-right-radius: 4%;" src={{recipe.image}}>
      </a>
  </div>

</div>
